* {
  box-border: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  .navbar__mobile, .navbar__lendline {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
  .logo {
    display: none;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
  .menu__link:last-child {
    margin-bottom: 0;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Proxima Nova Light", sans-serif;
  color: #262626;
}

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #507fe1;
  font-family: "Proxima Nova Semibold", sans-serif;
  background: none;
}

.button {
  border: none;
  text-transform: uppercase;
  padding: 25px 45px;
  background-color: #507fe1;
  color: #ffffff;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.bg-secondary {
  background: #f1f1f1;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd;
}

.checkbox {
  display: none;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox:checked + label:before {
  background: #507fe1;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 42px;
}

.checkbox-label:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #ffffff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__mobile, .navbar__lendline {
  text-align: right;
}

.navbar__phone {
  text-decoration: none;
  font-size: 19px;
  display: block;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #262626;
}

.navbar__small-text {
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background: #507fe1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-style: 17px;
  text-transform: uppercase;
  color: white;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}

.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9ed;
  margin: 2px 0;
}

.logo__text {
  font-size: 18px;
  margin-botton: 5px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.logo__description {
  font-size: 14px;
  display: block;
  color: #6b6b6b;
}

.hero {
  background: #f1f1f1 url("../img/hero-bg.png") no-repeat center top;
  background-size: inherit;
  padding-top: 200px;
  padding-bottom: 270px;
  margin-top: 80px;
}

.hero__title {
  font-size: 30px;
  margin-bottom: 40px;
  font-family: "Proxima Nova Light", sans-serif;
}

.hero__subtitile {
  display: block;
  font-size: 30px;
  margin-bottom: 67px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top left 30%;
  }
}

.offer {
  padding: 129px 0;
}

.offer-block {
  background: #ffffff;
  padding: 80px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  margin-top: -200px;
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
  margin-bottom: 21px;
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form__row:last-child {
  margin: 0;
}

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form__group {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.form__input {
  width: 90%;
  border-right-width: 0px;
}

.form__input:last-child {
  border-right-width: 1px;
}

.form__button {
  height: 80px;
}

@media (max-width: 991px) {
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .form__input {
    margin-bottom: 20px;
  }
  .form__button {
    width: 100%;
  }
  .offer-block {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */