body 
    +light
    color: $text-color
.button-o 
    border: 2px solid $primary
    padding: 17px 22px
    font-size: 12px
    text-transform: uppercase
    color: $primary
    +bold
    background: none
.button
    border: none
    text-transform: uppercase
    padding: 25px 45px
    background-color: $primary
    color: #ffffff
    +bold
.bg-secondary 
    background: $bg-secondary
.input
    height: 80px
    padding-left: 30px 
    border: 1px solid #dddddd

.checkbox
    display: none
    &:hover 
        cursor: pointer
    &:checked + label:before
        background: $primary
    &-label 
        display: flex
        align-items: center
        margin-right: 42px
        &:before
          content: ""
          display: inline-block
          width: 30px
          height: 30px
          border: 1px solid #dddddd
          margin-right: 20px

@media (max-width: 576px)
    .button-o
        font-size: 10px
    